@import 'vendor'
@import 'menu'

html
  background-color: white

body
  overflow auto

body, main
  height: 100%
  width: 100%
  position: absolute
  
head, main
  background-color: white !important
  transitionb: opacity 0.3s ease-in-out
  transform: translateZ(0)

main
  overflow: hidden

.home-main
  padding-top 80px
  padding-bottom 64px

nav
  background-color #1A687F
  position fixed
  top 0
  z-index 10

.block-title
  font-family: monospace

.issuer-title
  color: #1A687F

.issuer
  font-family: monospace
  background-color: #EEEEEE
  padding: 3px 6px 3px 6px

.paid
  margin-top 8px
  margin-right -10px

.paid i
  margin-top 12px
  font-size 30px

.paid .amount
  margin-top 12px
  font-size 20px

.collection .fa
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #1A687F;
  text-align: center;
  border-radius: 50%;

.card-panel.head
  font-size 36px
  background-color #1A687F