transitionb()
  -webkit-transition: arguments
  transition: arguments

menuWidth()
  width: arguments
  background-color: white
  max-width: 95%
  transitionb: width 0.3s cubic-bezier(.4,0,.2,1)

bgFont()
  font-family FontAwesome
  content arguments
  position absolute
  font-size 5.6rem
  color: rgba(187, 234, 249, 0.51)
  top: 0
  left: 33%
  text-align center
  z-index: 1
