main.valign-wrapper
  .container
    .row
      .s12.center
        .preloader-wrapper.active
          .spinner-layer.spinner-blue-only
            .circle-clipper.left
              .circle
        p {{ message | translate:'{number: current_number}' }}