nav
  .nav-wrapper
    a.brand-logo {{ 'main.logo.title' | translate }}
    //ul#nav-mobile.right.hide-on-small-and-down
    //  li: a

div.home-main
  .container
    .row
      .col.s12
        .card
          .card-content.head.white
            span {{ 'main.main.card.key' | translate }}&nbsp;
            span.issuer {{ remun_key }}
          .card-action.head
            span {{ 'main.main.card.pays' | translate }}&nbsp;
            span.issuer {{ pay_per_block }} {{ unit }}
            span &nbsp;{{ 'main.main.card.to' | translate }}&nbsp;
          .card-action.head
            span {{ 'main.main.card.remains' | translate }}&nbsp;
            span.issuer {{ remains }} {{ unit }}
            span &nbsp;{{ 'main.main.card.to_distribute' | translate }}&nbsp;
    .row
      .col.s12.m6
        ul.collection.with-header
          li.collection-header: h4 {{ 'main.blocks.title' | translate }}
          li.collection-item.avatar(ng-repeat="b in blocks | orderBy : 'number' : true")
            i.fa.fa-cube
            span.block-title Block {{ '#' + b.number }}
            p
              h5.paid.right.chip(ng-if="b.amount")
                span Received 
                span.amount {{ b.amount }}
                span units as tip
              span.issuer-title Issuer: 
              span.issuer {{ b.uid }}
      .col.s12.m6
        .row
          ul.collection.with-header.topx
            li.collection-header: h4 {{ 'main.top1.title' | translate }}
            li.collection-item.avatar(ng-repeat="user in top1 | orderBy : 'paid' : true")
              i.fa.fa-user
              span.issuer {{ user.blocks }}
              span.issuer-title &nbsp;blocks
              span.issuer-title &nbsp;by&nbsp;
              span.issuer {{ user.name }}
              p
                h5.paid.right.chip(ng-if="user.paid")
                  span.amount {{ 'main.earned' | translate }} {{ user.paid }} {{ unit }}
          ul.collection.with-header.topx
            li.collection-header: h4 {{ 'main.top2.title' | translate }}
            li.collection-item.avatar(ng-repeat="user in top2 | orderBy : 'paid' : true")
              i.fa.fa-user
              span.issuer {{ user.blocks }}
              span.issuer-title &nbsp;blocks
              span.issuer-title &nbsp;by&nbsp;
              span.issuer {{ user.name }}
              p
                h5.paid.right.chip(ng-if="user.paid")
                  span.amount {{ 'main.earned' | translate }} {{ user.paid }} {{ unit }}
