nav
  .nav-wrapper
    a.brand-logo {{ 'main.logo.title' | translate }}
    //ul#nav-mobile.right.hide-on-small-and-down
    //  li: a

div.home-main
  .container
    .row
      .col.s12
        .card
          .card-content.head.white
            span {{ 'main.main.card.key' | translate }}&nbsp;
            span.issuer {{ remun_key.substr(0,8) }}
            span &nbsp;{{ 'main.main.card.pays' | translate }}
            span.issuer {{ pay_per_block }}&nbsp;{{ unit }}
            span &nbsp;{{ 'main.main.card.to' | translate }}
          .card-action.head
            span {{ 'main.main.card.remains' | translate }}&nbsp;
            span.issuer {{ remains }}&nbsp;{{ unit }}
            span &nbsp;{{ 'main.main.card.to_distribute' | translate }}
            span.issuer {{ 'main.main.card.approx' | translate }}{{ remains_days }} {{ 'main.main.card.to_distribute_unit' | translate }}
            span {{ 'main.main.card.to_distribute_days' | translate }}
          .card-action.head.donate
            span {{ 'main.main.card.feed' | translate }}&nbsp;
            span.issuer {{ remun_key }}
            span {{ 'main.main.card.to_increase_stock' | translate }}
    .row
      .col.s12.m6
        ul.collection.with-header.topx
          li.collection-header: h4 {{ 'main.donations.title' | translate }}
          li.collection-item.avatar(ng-repeat="gift in topgifts | orderBy : 'blocks' : true")
            i.fa.fa-gift
            span.issuer {{ (gift.amount / 100).toFixed(2).replace('.', ',').lpad("&nbsp;", digits) }} {{ unit }}
            span.issuer-title &nbsp;–&nbsp;
            span.issuer {{ gift.date }}
            span.issuer-title &nbsp;by&nbsp;
            span.issuer {{ gift.issuer }}
            p
              h5.paid.right.chip(ng-if="user.paid")
                span.amount {{ 'main.earned' | translate }} {{ (user.paid / 100).toFixed(2) }} {{ unit }}
        ul.collection.with-header
          li.collection-header: h4 {{ 'main.blocks.title' | translate }}
          li.collection-item.avatar(ng-repeat="b in blocks | orderBy : 'number' : true")
            i.fa.fa-cube
            span.block-title Block {{ '#' + b.number + '-' + b.hash.slice(0, 8) }}
            p
              h5.paid.right.chip(ng-if="b.amount")
                span Received
                span.amount {{ b.amount }}
                span units as tip
              span.issuer-title Issuer:&nbsp;
              span.issuer {{ b.uid }}
      .col.s12.m6
        .row
          ul.collection.with-header.topx
            li.collection-header: h4 {{ 'main.top1.title' | translate }} {{ current_window }}
            li.collection-item.avatar(ng-repeat="user in top1 | orderBy : 'blocks' : true")
              i.fa.fa-user
              span.issuer {{ user.stringBlocks }}
              span.issuer-title &nbsp;blocks
              span.issuer-title &nbsp;[diff:
              span.issuer {{ user.diff }}
              span.issuer-title ,&nbsp;exFact:
              span.issuer {{ user.exclusionFactor }}
              span.issuer-title ,&nbsp;handicap:
              span.issuer {{ user.handicap }}
              span.issuer-title ]
              span.issuer-title &nbsp;by&nbsp;
              span.issuer {{ user.name }}
              p
                h5.paid.right.chip(ng-if="user.paid")
                  span.amount {{ 'main.earned' | translate }} {{ (user.paid / 100).toFixed(2) }} {{ unit }}
          ul.collection.with-header.topx
            li.collection-header: h4 {{ 'main.top2.title' | translate }} {{ issuers_week }}
            li.collection-item.avatar(ng-repeat="user in top2 | orderBy : 'blocks' : true")
              i.fa.fa-user
              span.issuer {{ user.blocks }}
              span.issuer-title &nbsp;blocks
              span.issuer-title &nbsp;by&nbsp;
              span.issuer {{ user.name }}
              p
                h5.paid.right.chip(ng-if="user.paid")
                  span.amount {{ 'main.earned' | translate }} {{ (user.paid / 100).toFixed(2) }} {{ unit }}
